@model List<Fooditem>

<div class="container">
     <div class="row pt-4 pb-3">
         <div class="col-6">
             <h2 class="text-dark">Fooditem</h2>
         </div>
         <div class="col-6 text-end">
             <a  asp-controller="Fooditem" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i>Create New Fooditem
             </a>
         </div>
     </div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Food Name</th>
            <th>Description</th>
            <th>Expiration Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.ExpirationDate.ToString()</td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Fooditem" asp-action="Edit" asp-route-id="@item.FooditemId" class="btn btn-primary mx-2">
                                <i class="bi bi-pencil-square"></i>Edit
                        </a>
                            <a asp-controller="Fooditem" asp-action="Delete" asp-route-id="@item.FooditemId" class="btn btn-danger mx-2">
                                <i class="bi bi-trash2"></i>Delete
                            </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>